<h1>Listing shoutouts</h1>

<table>
  <tr>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shoutouts.each do |shoutout| %>
  <tr>
    <td><%= shoutout.comment %></td>
    <td><%= link_to 'Show', shoutout %></td>
    <td><%= link_to 'Edit', edit_shoutout_path(shoutout) %></td>
    <td><%= link_to 'Destroy', shoutout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shoutout', new_shoutout_path %>
